<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="/assets/imagem/mascCavaloForte.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Máscara de Tratamento Cavalo Forte Hidra</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/mascCavaloForte.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Máscara de Tratamento Cavalo Forte Hidra</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/mascCavaloForte.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Máscara de Tratamento Cavalo Forte Hidra</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/mascCavaloForte.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Máscara de Tratamento Cavalo Forte Hidra</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/mascCavaloForte.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Máscara de Tratamento Cavalo Forte Hidra</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="/assets/imagem/mascCavaloForte.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Máscara de Tratamento Cavalo Forte Hidra</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/mascCavaloForte.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Máscara de Tratamento Cavalo Forte Hidra</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/mascCavaloForte.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Máscara de Tratamento Cavalo Forte Hidra</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/mascCavaloForte.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Máscara de Tratamento Cavalo Forte Hidra</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/mascCavaloForte.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Máscara de Tratamento Cavalo Forte Hidra</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->
        </section>
    </main>
</body>
</html>