<footer class="footer">
    <ul>
        <li>Acompanhe seu pedido</li>
        <li>Rastrear minha compra</li>
        <li>Devolução</li>
    </ul>
    <address>
        <p>Email: <a href="mailto:TrueBeauty@Gmail.com">TrueBeauty@Gmail.com</a></p>
        <P>Telefone: <a href="tel:(11)94537-0089">(11) 98734-9281</a></P>
    </address>
    <p>&copy; 2025 True Beauty. Todos os direitos reservados.</p>
</footer>