<footer class="footer">
    <ul>
        <li class="companhe seu pedido">Acompanhe seu pedido</li>
        <li class="Rastrear minha compra">Rastrear minha compra</li>
        <li class="Devolução">Devolução</li>
    </ul>
    <address>
        <p>Email: <a href="mailto:truebeauty@Gmail.com">TrueBeauty@Gmail.com</a></p>
        <P>Telefone: <a href="tel:(11)94537-0089">(11) 98734-9281</a></P>
    </address>
    <link rel="stylesheet" href="/app/public/assets/imagem/caminhão.png">
    <p>&copy; 2025 True Beauty. Todos os direitos reservados.</p>
</footer>