<header class="header">
    <nav>
        <button class="icon-btn menu-icon">
            <img src="assets/imagem/menu.png" alt="menu">
        </button>
        <button class="icon-btn search-icon">
            <img src="assets/imagem/lupa.png" alt="lupa">
        </button>
        <h1 class="logo">True Beauty</h1>
        <button class="icon-btn cart-icon">
            <img src="assets/imagem/sacola.png" alt="carrinho-de-compras">
        </button>
        <button class="icon-btn user-icon">
            <img src="assets/imagem/perfil.png" alt="">
        </button>
    </nav>
</header>