<header class="header">
  <nav>
    <input type="checkbox" name="" id="menu-hamburguer" hidden>
    <label for="menu-hamburguer">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <ul>
      <li>
       <a href="vertudo"> <span>Ver Tudo</span></a>
        <ul>
          <li><a href="perfumes">Perfumes</a></li>
          <li><a href="cabelos">Cabelo</a></li>
          <li><a href="maquiagem">Maquiagem</a></li>
          <li><a href="cuidados_pessoais">Cuidados Pessoais</a></li>
        </ul>
      </li>   
      
      <li>
        <a href="perfumes"><span>Perfumes</span></a>
        <ul>
          <li><a href="perfumes_feminino">Perfumes Feminino</a></li>
          <li><a href="perfumes_masculino">Perfume Masculino</a></li>
          <li><a href="perfumes_infantil">Perfume Infantil</a></li>
          <li><a href="body_splash">Body Splash</a></li>
        </ul>
      </li>

      <li>
        <a href="cabelos"><span>Cabelo</span></a>
        <ul>
          <li><a href="hidratacao">Hidratação</a></li>
          <li><a href="nutricao">Nutrição</a></li>
          <li><a href="reconstrucao">Reconstrução</a></li>
        </ul>
      </li>

      <li>
        <a href="cuidados_pessoais"><span>Cuidados Pessoais</span></a>
        <ul>
          <li><a href="#">Depilação</a></li>
          <li><a href="#">Sabonete Intimo</a></li>
          <li><a href="#">Protetor Solar</a></li>
          <li><a href="#">Kit de Barbear</a></li>
        </ul>
      </li>

      <li>
        <a href="maquiagem"><span>Maquiagem</span></a>
        <ul>
          <li><a href="#">Primer</a></li>
          <li><a href="#">Bruma</a></li>
          <li><a href="#">Base</a></li>
          <li><a href="#">Corretivo</a></li>
          <li><a href="#">Pó Compacto</a></li>
          <li><a href="#">Contorno</a></li>
          <li><a href="#">Blash</a></li>
          <li><a href="#">Batom</a></li>
          <li><a href="#">Olho</a></li>
        </ul>
      </li>

      <li>
        <a href="skin_care"><span>Skin Care</span></a>
        <ul>
          <li><a href="#">Rosto</a></li>
          <li><a href="#">Olhos</a></li>
          <li><a href="#">Labios</a></li>
        </ul>
      </li>
    </ul>

    <div class="icon-btn search-icon">
      <img src="assets/imagem/icons/lupa.png" alt="lupa">
    </div>

      <section class="logo">
      <img src="assets/imagem/imagem_Logo/logo1000x500.jpg" alt="">
    </section> 
  
    <button class="icon-btn user-icon">
      <img src="assets/imagem/icons/perfil.png" alt="perfil">
    </button>

    <button class="icon-btn cart-icon">
      <img src="assets/imagem/icons/sacola.png" alt="carrinho-de-compras">
    </button>
  </nav>
</header>


<div id="overlay" class="overlay"></div>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const sideMenu = document.getElementById('side-menu');
  const overlay = document.getElementById('overlay');

  menuToggle.addEventListener('click', () => {
    sideMenu.classList.toggle('open');
    overlay.classList.toggle('active');
  });

  overlay.addEventListener('click', () => {
    sideMenu.classList.remove('open');
    overlay.classList.remove('active');
  });




// Fim da barra
</script>