<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>True Beauty</title>

  <link rel="stylesheet" href="./assets/css/header.css" />
  <link rel="stylesheet" href="./assets/css/footer.css" />
  <link rel="stylesheet" href="./assets/css/<%=pagina%>.css" />
  <link rel="stylesheet" href="./assets/css/menu.css" />
  <link rel="stylesheet" href="./assets/css/index.css">

  <script src="<%=baseUrl%>/assets/js/carrinho.js"></script>

