<header class="header">
  <nav>
    <input type="checkbox" name="" id="menu-hamburguer" hidden>
    <label for="menu-hamburguer">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <ul>
      <li>
       <a href="vertudo"> <span>Ver Tudo</span></a>
        <ul>
          <li><a href="perfumes">Perfumes</a></li>
          <li><a href="#">Cabelo</a></li>
          <li><a href="#">Maquiagem</a></li>
          <li><a href="#">Bem Estar</a></li>
        </ul>
      </li>   
      
      <li>
        <a href="perfumes"><span>Perfumes</span></a>
        <ul>
          <li><a href="#">Perfumes Feminino</a></li>
          <li><a href="#">Perfume Masculino</a></li>
          <li><a href="#">Perfume Infantil</a></li>
          <li><a href="#">Body Splash</a></li>
        </ul>
      </li>

      <li>
        <span>Cabelo</span>
        <ul>
          <li><a href="#">Hidratção</a></li>
          <li><a href="#">Nutrição</a></li>
          <li><a href="#">Reconstrução</a></li>
        </ul>
      </li>

      <li>
        <span>Cudados Pessoais</span>
        <ul>
          <li><a href="#">Depilação</a></li>
          <li><a href="#">Sabonete Intimo</a></li>
          <li><a href="#">Protetor Solar</a></li>
          <li><a href="#">Kit de Barbear</a></li>
        </ul>
      </li>

      <li>
        <span>Maquiagem</span>
        <ul>
          <li><a href="#">Primer</a></li>
          <li><a href="#">Bruma</a></li>
          <li><a href="#">Base</a></li>
          <li><a href="#">Corretivo</a></li>
          <li><a href="#">Pó Compacto</a></li>
          <li><a href="#">Contorno</a></li>
          <li><a href="#">Blash</a></li>
          <li><a href="#">Batom</a></li>
          <li><a href="#">Olho</a></li>
        </ul>
      </li>

      <li>
        <span>Skin Care</span>
        <ul>
          <li><a href="#">Rosto</a></li>
          <li><a href="#">Olhos</a></li>
          <li><a href="#">Labios</a></li>
        </ul>
      </li>
    </ul>

    <div class="icon-btn search-icon">
      <img src="assets/imagem/lupa.png" alt="lupa">
    </div>

    <h1 class="logo">True Beauty</h1>
  
    <button class="icon-btn user-icon">
      <img src="assets/imagem/perfil.png" alt="perfil">
    </button>

    <button class="icon-btn cart-icon">
      <img src="assets/imagem/sacola.png" alt="carrinho-de-compras">
    </button>
  </nav>
</header>


<div id="overlay" class="overlay"></div>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const sideMenu = document.getElementById('side-menu');
  const overlay = document.getElementById('overlay');

  menuToggle.addEventListener('click', () => {
    sideMenu.classList.toggle('open');
    overlay.classList.toggle('active');
  });

  overlay.addEventListener('click', () => {
    sideMenu.classList.remove('open');
    overlay.classList.remove('active');
  });




// Fim da barra
</script>