<header class="header">
  <nav>
    <input type="checkbox" name="" id="menu-hamburguer" hidden>
    <label for="menu-hamburguer">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <ul class="menu-list">
      <!-- Ver Tudo -->
      <li>
        <div class="menu-item">
          <button class="submenu-toggle" data-target="#submenu-vertudo" aria-expanded="false">
            <span class="arrow"></span>
          </button>
          <a href="categoria"><span>Ver Tudo</span></a>
        </div>
        <ul id="submenu-vertudo" class="submenu">
          <li><a href="categoria?categoria=perfumes">Perfumes</a></li>
          <li><a href="categoria?categoria=cabelos">Cabelo</a></li>
          <li><a href="categoria?categoria=maquiagens">Maquiagem</a></li>
          <li><a href="categoria?categoria=skin_care">Skin Care</a></li>
          <li><a href="categoria?categoria=cuidados_pessoais">Cuidados Pessoais</a></li>
        </ul>
      </li>

      <!-- Perfumes -->
      <li>
        <div class="menu-item">
          <button class="submenu-toggle" data-target="#submenu-perfumes" aria-expanded="false">
            <span class="arrow"></span>
          </button>
          <a href="categoria?categoria=perfumes"><span>Perfumes</span></a>
        </div>
        <ul id="submenu-perfumes" class="submenu">
          <li><a href="categoria?subcategoria=perfumes_feminino">Perfume Feminino</a></li>
          <li><a href="categoria?subcategoria=perfumes_masculino">Perfume Masculino</a></li>
          <li><a href="categoria?subcategoria=perfumes_infantil">Perfume Infantil</a></li>
          <li><a href="categoria?subcategoria=body_splash">Body Splash</a></li>
        </ul>
      </li>

      <!-- Cabelos -->
      <li>
        <div class="menu-item">
          <button class="submenu-toggle" data-target="#submenu-cabelos" aria-expanded="false">
            <span class="arrow"></span>
          </button>
          <a href="categoria?categoria=cabelos"><span>Cabelo</span></a>
        </div>
        <ul id="submenu-cabelos" class="submenu">
          <li><a href="categoria?subcategoria=hidratacao">Hidratação</a></li> <!--deu erro-->
          <li><a href="categoria?subcategoria=nutricao">Nutrição</a></li>
          <li><a href="categoria?subcategoria=reconstrucao">Reconstrução</a></li>
        </ul>
      </li>

      <!-- Cuidados Pessoais -->
      <li>
        <div class="menu-item">
          <button class="submenu-toggle" data-target="#submenu-cuidados" aria-expanded="false">
            <span class="arrow"></span>
          </button>
          <a href="categoria?categoria=cuidados_pessoais"><span>Cuidados Pessoais</span></a>
        </div>
        <ul id="submenu-cuidados" class="submenu">
          <li><a href="categoria?subcategoria=depilacao">Depilação</a></li>
          <li><a href="categoria?subcategoria=higiene_intima">Higiene Íntima</a></li>
          <li><a href="categoria?subcategoria=protetor_solar">Protetor Solar</a></li>
          <li><a href="categoria?subcategoria=kit_barba">Kit de Barbear</a></li>
        </ul>
      </li>

      <!-- Maquiagem -->
      <li>
        <div class="menu-item">
          <button class="submenu-toggle" data-target="#submenu-maquiagem" aria-expanded="false">
            <span class="arrow"></span>
          </button>
          <a href="categoria?categoria=maquiagens"><span>Maquiagem</span></a>
        </div>
        <ul id="submenu-maquiagem" class="submenu">
          <li><a href="categoria?subcategoria=primer">Primer</a></li>
          <!-- <li><a href="bruma">Bruma</a></li> -->
          <li><a href="categoria?subcategoria=base">Base</a></li>
          <li><a href="categoria?subcategoria=corretivo">Corretivo</a></li>
          <li><a href="categoria?subcategoria=po">Pó</a></li>
          <li><a href="categoria?subcategoria=batom">Batom</a></li>
          <li><a href="categoria?subcategoria=olho">Olho</a></li>
        </ul>
      </li>

      <!-- Skin Care -->
      <li>
        <div class="menu-item">
          <button class="submenu-toggle" data-target="#submenu-skin" aria-expanded="false">
            <span class="arrow"></span>
          </button>
          <a href="categoria?categoria=skin_care"><span>Skin Care</span></a>
        </div>
        <ul id="submenu-skin" class="submenu">
          <li><a href="categoria?subcategoria=rosto">Rosto</a></li>
          <li><a href="categoria?subcategoria=olhos">Olhos</a></li>
          <li><a href="categoria?subcategoria=labios">Lábios</a></li>
        </ul>
      </li>

      <li class="item-logout">
        <div class="btn-logout">
          <button type="button" id="btn-logout-header">SAIR</button>
        </div>
      </li>
    </ul>

    <!-- Overlay para a pesquisa -->

    <div class="icon-btn search-icon">
      <img src="assets/imagem/icons/lupa.png" alt="lupa">
    </div>


    <a href="/" class="logo">
      <img src="assets/imagem/imagem_Logo/logo1000x500.jpg" alt="True Beauty">
    </a>
    <div class="user-container">
      <button type="button" class="icon-btn user-icon">
        <img src="assets/imagem/icons/perfil.png" alt="perfil">
        <span id="nome-usuario-display"
          style="font-size:12px; font-weight:bold; font-family: 'Lora', serif; margin-left: 5px;"></span>
      </button>

      <div id="user-menu" class="user-menu">
        <a href="/conta">MINHA CONTA</a>
        <hr>
        <button type="button" id="btn-sair">SAIR</button>
      </div>
    </div>

    <button class="icon-btn cart-icon">
      <img src="assets/imagem/icons/sacola.png" alt="carrinho-de-compras">


    </button>
  </nav>
</header>

<div id="overlay-pesquisa" class="overlay-pesquisa"></div>
<input type="search" placeholder="Pesquisar..." class="search-input" id="search-input-global">

<!-- Sacola -->
<div id="overlay-sacola" class="overlay-sacola"></div>

<aside id="sacola-lateral" class="sacola-lateral">
  <header class="sacola-header">
    <h2>Minha sacola</h2>
    <button id="fechar-sacola" class="fechar-btn">&times;</button>
  </header>
  <button class="btn-finalizar">Finalizar compra</button>
</aside>

<!--Perfil -->

<section id="overlay-perfil" class="overlay-perfil">
  <section id="modal-perfil" class="modal-perfil">
    <button id="fechar-perfil" class="fechar-btn">&times;</button>
    <section class="login-container">
      <section class="imagem">
        <img src="assets/imagem/imagem_Logo/Logo2.png" class="logo-modal-login" alt="Logo">
      </section>

      <h3 id="login-title">Escolha uma opção para entrar </h3>

      <section class="social-login">

        <button class="google">
          <img src="assets/imagem/imagem_Logo/google.png" alt="Google">
          Continuar com o Google
        </button>

      </section>

      <p class="ou">OU</p>

      <div id="login-error-msg" style="color: red; margin-bottom: 10px; font-size: 14px;"></div>
      <form id="form-perfil" class="form-login">
        <div class="form-group">
          <input type="email" id="emailTeste" name="email" placeholder=" " required>
          <label for="emailTeste">Email:</label>
          <span id="email-error" style="color:red; display:none;">
            Email inválido.
          </span>
        </div>

        <div class="form-group">
          <input type="password" id="senha" name="senha" placeholder=" " required>
          <label for="senha">Senha:</label>
        </div>


        <a href="#" class="forgot">Esqueceu a senha?</a>
        <button type="submit" class="btn-login">Fazer login</button>
        <button type="button" class="btn-cadastro"><a href="cadastro">Crie sua conta</a></button>
      </form>
    </section>
  </section>

</section>

<script src="/assets/js/validacoes.js"></script>

<script src="/assets/js/busca.js"></script>