<header class="header">
    <div class="header-left">
        <button class="icon-btn menu-icon">
            <img src="assets/imagem/menu.png" alt="menu">
        </button>
        <button class="icon-btn search-icon">
            <img src="assets/imagem/lupa.png" alt="lupa">
        </button>
    </div>
    <div class="header-center">
        <h1 class="logo">True Beauty</h1>
    </div>
    <div class="header-right">
        <button class="icon-btn cart-icon">
            <img src="assets/imagem/sacola.png" alt="carrinho-de-compras">
        </button>
        <button class="icon-btn user-icon">
            <img src="assets/imagem/perfil.png" alt="">
        </button>
    </div>
</header>
