<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>True Beauty</title>
  <link rel="stylesheet" href="<%=baseUrl%>/assets/css/index.css" />
  <script src="<%=baseUrl%>/assets/js/carrinho.js"></script>
</head>
