<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_body_splash/morango_leite_splash.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Morango & Leite Body Splash</h2>
                  <p class="card-text"> 200ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 78,89
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_body_splash/body_spray_imensi.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Body Spray Imensi</h2>
                  <p class="card-text"> 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 41,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_body_splash/body_spray_club6.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Body Spray Club 6</h2>
                  <p class="card-text"> 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 41,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_body_splash/body_splash_todo_dia.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Body Splash Todo dia Macadâmia</h2>
                  <p class="card-text"> 200ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 56,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_body_splash/body_splash_seduction.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Body Splash Pure Seduction V&S</h2>
                  <p class="card-text"> 250ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 140,00
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_body_splash/body_splash_nativa_spa.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Body Splash Nativa Spa Lilac</h2>
                  <p class="card-text"> 200ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 99,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_body_splash/body_splash_Infinity_Crystal.png" alt="">
                </header>
                <article>
                  <h2 class="card-title">Body Splash Infinity Crystal</h2>
                  <p class="card-text"> 200ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 55,98
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_body_splash/BODY_SPLASH_BLUE_MIST.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Body Splash Bloom </h2>
                  <p class="card-text"> 200ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 46,63
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

        
    </main>

    <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>