<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="/assets/imagem/imagens_cabelos/mascCavaloForte.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Máscara de Tratamento Cavalo Forte Hidra</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Cabelos/Haskell_pós_progressiva.png" alt="">
                </header>
                <article>
                  <h2 class="card-title">Haskell Pós Progressiva</h2>
                  <p class="card-text"> 620ml + máscara</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 146,85
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Cabelos/Hidrabell_cabelos_lisos.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Hidrabell Cabelos Lisos</h2>
                  <p class="card-text"> 620ml + máscara</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 215,67
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Cabelos/Foreverldiss_Bye_Bye_Volume.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Forever Liss Bye Bye Volume</h2>
                  <p class="card-text"> 200ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 52,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Cabelos/Shampoo-Salon-Line-Meu-Liso-Sem-Sal-300ml.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Shampoo Meu Liso Muito+Liso</h2>
                  <p class="card-text"> 300ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 24,50
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_Cabelos/Siàge_revela_os_cachos.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Siàge Revela Os Cachos</h2>
                  <p class="card-text"> 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 44,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Cabelos/haskell_se_curve.avif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Haskell Se Curve</h2>
                  <p class="card-text"> 300ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 77,07
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Cabelos/widi-care-juba-kit-leave-in-mascara-geleia-shampoo.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Kit Widi Care Juba</h2>
                  <p class="card-text"> 500ml + mácara</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 156,66
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Cabelos/Salon_line_gelatina.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Gelatina Verde super Definição</h2>
                  <p class="card-text"> 550g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 24,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Cabelos/inoar-meu-cacho-meu-crush.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Inor Meu Cacho Meu Crush</h2>
                  <p class="card-text"> 5000ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 60,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->
        </section>
    </main>

    <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>