<%- include('./include/head.ejs', {pagina:"cadastro"}) %>
</head>

  <%- include('./include/header.ejs') %>

    <main>
      <section class="cadastro-section">

        <h1>Crie sua conta</h1>

        <form action="/cadastro" method="post" class="cadastro-form">

          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder=" " required>
            <span id="nome-error" style="color:red; display:none;">
              Nome deve ter pelo menos 3 caracteres.
            </span>
          </div>

          <div class="form-group">
            <label for="emailTeste">Email:</label>
            <input type="email" id="emailTeste" name="email" placeholder=" " required>
            <span id="email-error" style="color:red; display:none;">
              Email inválido.
            </span>
          </div>

          <div class="form-group">
            <input type="password" id="senha" name="senha" placeholder=" " required>
            <label for="senha">Senha:</label>

            <ul id="senha-requisitos">
              <li id="req-length" class="invalid">Pelo menos 8 caracteres</li>
              <li id="req-case" class="invalid">Uma letra maiúscula e uma minúscula</li>
              <li id="req-number" class="invalid">Pelo menos um número</li>
              <li id="req-special" class="invalid">Pelo menos um caractere especial</li>
            </ul>

          </div>

          <button type="submit" class="btn-cadastro">Cadastrar</button>

        </form>
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('./include/footer.ejs') %>
    <script src="/assets/js/validacoes.js"></script>

  </body>

</html>