<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_Cuidados_Pessoais/nivea-sabonete-intimo.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Nivea Sabonete Líquido Intimo Suave</h2>
                  <p class="card-text"> 250ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 20,19
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_Cuidados_Pessoais/monange_lavanda.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Hidratante Desodorante Monange Hidratação Nutritiva Flor de Lavanda</h2>
                  <p class="card-text"> 200ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 11,29
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_Cuidados_Pessoais/rexona_gel.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Desodorante Antitranspirante Stick Creme Rexona Clinical Classic Feminino</h2>
                  <p class="card-text"> 58g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 25,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_Cuidados_Pessoais/oleo_cuidesebem.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Óleo Hidratante Corporal Cuide-se Bem Nuvem de Alegria </h2>
                  <p class="card-text"> 110ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 54,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_Cuidados_Pessoais/gel_de_limpeza_principia.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Gel de Limpeza Principia</h2>
                  <p class="card-text"> 350g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 44,59
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="/assets/imagem/imagens_Cuidados_Pessoais/protetor_solar_cores.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Darrow Actine Protetor Solar com cor Antioleosidade Fps60 </h2>
                  <p class="card-text"> 40g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 70,08
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_Cuidados_Pessoais/nivea_men.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Creme Masculino 4 em 1</h2>
                  <p class="card-text"> 30g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 13,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_Cuidados_Pessoais/espuma_de_barbear_carvaoAtivado.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Espuma de Barbear Deep Com carvão ativado</h2>
                  <p class="card-text"> 200ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 29,13
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_Cuidados_Pessoais/carmed_chocotone.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Hidratante Labial Carmed Chocottone Bauducco Incolor</h2>
                  <p class="card-text"> 10g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 25,00
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_Cuidados_Pessoais/creamy_vitaminaC.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Creamy Skincare Vitamina C</h2>
                  <p class="card-text"> 30ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 81,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->
        </section>
    </main>

       <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>