<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="/assets/imagem/imagens_depilacao/ceraFria.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Cera Depil Bella Micro-ondas Maracujá</h2>
                  <p class="card-text">  200g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 30,00
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_depilacao/cremeRosto.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Creme Depilatorio Depilbella Facial Petalas </h2>
                  <p class="card-text"> 40G</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 14,79
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_depilacao/ceraFriaAlg_Doce.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Cera depilatória Hidrossolúvel </h2>
                  <p class="card-text"> 600g</p>
                  <p class="card-text">Algodão Doce</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 26,12
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_depilacao/ceraGrande.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Cera Depilatória Quente</h2>
                  <p class="card-text"> 1kg</p>
                  <p class="card-text">Camomila com Calêndula</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 39,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_depilacao/folhasProntas.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Folhas Prontas Depilflax Para Depilação Corporal </h2>
                  <p class="card-text"> 20F</p>
                  <p class="card-text"> Morango</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 24,50
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_depilacao/gelCalmante.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Gel Hidratante Calmante Depil Bella</h2>
                  <p class="card-text"> 250g</p>
                  <p class="card-text"> Camomila </p>
                  <p class="card-price">
                     <span class="currency">R$</span> 44,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_depilacao/oleoRemovedor.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Loção Adstringente Hortelã</h2>
                  <p class="card-text"> 500ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 33,70
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_depilacao/palitos.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Palito Depilação Zalike</h2>
                  <p class="card-text"> 500un</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 10,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_depilacao/papelDep.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Depil Bella Lenço para Depilação</h2>
                  <p class="card-text"> 100 Lenços Brancos</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 28,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_depilacao/preDep_higienizacao.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Loção Higienizante Pré Depilação Óleo Essencial Lavanda e Melaleuca</h2>
                  <p class="card-text"> 500ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 60,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->
        </section>
    </main>

    <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>