<%- include('./include/head.ejs', {pagina:"conta"}) %>
    </head>


    <body>
        <%- include('./include/header.ejs') %>

            <main>
                <%- include('./include/menu/aside.ejs') %>

                <h1>Endereços</h1>

                <button onclick="minhaFuncao()">Adicionar Endereço</button>

                <p>Nenhum enedereço cadastrado !</p>
            </main>
    </body>

    </html>