<%- include('include/head.ejs') %>

<body class="admin-body">

<!-- MENU LATERAL -->
<nav class="menu">

<h2>HOME</h2>

<ul>
<li>Dashboard</li>
<li>Produtos</li>
<li>Pedidos</li>
<li>Clientes</li>
<li>Relatórios</li>
<li>Configurações</li>
<li>Logout</li>
</ul>

</nav>


<!-- CONTEÚDO -->
<main class="dashboard">

<header class="titulo">
<h1>Dashboard</h1>
</header>


<!-- CARDS -->
<section class="cards">

<article class="card">
<h3>Vendas Totais do Mês</h3>
<p>R$2563,90</p>
</article>

<article class="card">
<h3>Despesas Totais do Mês</h3>
<p>R$263,85</p>
</article>

<article class="card">
<h3>Renda Líquida do Mês</h3>
<p>R$1200,35</p>
</article>

</section>


<!-- TABELA -->
<section class="tabela">

<table>

<thead>
<tr>
<th>Nome do Produto</th>
<th>Número do Produto</th>
<th>Pagamento</th>
<th>Status</th>
</tr>
</thead>

<tbody>

<tr>
<td>Kérastase</td>
<td>2536</td>
<td>Pago</td>
<td class="pendente">Pendente</td>
</tr>

<tr>
<td>L'Oréal Professionnel</td>
<td>1254</td>
<td>Reembolso</td>
<td class="recusado">Recusado</td>
</tr>

<tr>
<td>TRUSS Professional</td>
<td>7586</td>
<td>Pago</td>
<td class="entregue">Entregue</td>
</tr>

<tr>
<td>Redken</td>
<td>5424</td>
<td>Pago</td>
<td class="pendente">Pendente</td>
</tr>

<tr>
<td>Bio Extratus</td>
<td>3542</td>
<td>Pago</td>
<td class="entregue">Entregue</td>
</tr>

<tr>
<td>Lola Cosmetics</td>
<td>7542</td>
<td>Reembolso</td>
<td class="entregue">Entregue</td>
</tr>

<tr>
<td>Haskell</td>
<td>1245</td>
<td>Pago</td>
<td class="pendente">Pendente</td>
</tr>

</tbody>

</table>

</section>

</main>

</body>