<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_Cuidados_Pessoais/nivea-sabonete-intimo.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Nivea Sabonete Líquido Intimo Suave</h2>
                  <p class="card-text"> 250ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 20,19
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_higiene_intima/cotton_toalhas_umedecidas.jpeg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Cotton Toalhas Umedecidas</h2>
                  <p class="card-text"> 16 Unidades</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 19,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_higiene_intima/higi_intima_clareador.png" alt="">
                </header>
                <article>
                  <h2 class="card-title">Higi Intima Clareador</h2>
                  <p class="card-text"> 50ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 74,80
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_higiene_intima/intima_protect_gel_higiene_intima_calmante.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title"> Protect Gel Higiene Intima Calameente</h2>
                  <p class="card-text"> 60g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 65,80
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_higiene_intima/intima_regulateur_gel_lavant_intime_quotidien.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Gel Lavant Intime Quotidien</h2>
                  <p class="card-text"> 500g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 44,59
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_higiene_intima/mahair_intima.jpeg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Mahair Intima </h2>
                  <p class="card-text"> 200ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 17,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_higiene_intima/Nila_frescor_&_hidratação.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Nila Frescor & Hidratação</h2>
                  <p class="card-text"> 150ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 39,34
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_higiene_intima/nuaa_espuma_de_higiene_intima_suave.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Nuaá Espuma de Igiene Intima Suave</h2>
                  <p class="card-text"> 150ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 35,50
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_higiene_intima/racco_intimo.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Racco Intimo</h2>
                  <p class="card-text"> 50ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 37,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_higiene_intima/intimus_defesa_natural.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Intimus Defesa Natural</h2>
                  <p class="card-text"> 16 Unidades</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 8,94
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->
        </section>
    </main>

       <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>