<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/antes-2025-07-09t144726152.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Kit cuidados dos labios Labotrtat</h2>
                  <p class="card-text"> 1 gloss bloca volumosa - 2,5

                    1 esfoliante labial - 15g
                    
                    1 espuma limpeza labial - 50ml </p>
                  <p class="card-price">
                     <span class="currency">R$</span> 108,40
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/Mascara-para-Labios-Kiss-NY---Magic-Gel-Mask---1Un.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Mascara para labios KissNY</h2>
                  <p class="card-text"> 1 Unidade 5g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 13,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/7896173100011.png" alt="">
                </header>
                <article>
                  <h2 class="card-title">Manteiga de cacau </h2>
                  <p class="card-text"> 4,2g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 4,98
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/7891142207678_EPIDRATLABIOS-STILL.png.jpg.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Hidrante para labios Epidrat</h2>
                  <p class="card-text">5,5g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 59,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
              <header>
                <img src="assets/imagem/imagens_skin_care/images (2).jfif" alt="">
              </header>
              <article>
                <h2 class="card-title">Esfoliante labial SmartGR</h2>
                <p class="card-text"> 15g </p>
                <p class="card-price">
                   <span class="currency">R$</span> 79,90
                </p>
                <a href="#" class="card-button">Comprar</a>
              </article>
          </section>
          <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/esfoliante-labial-com-oleo-de-coco-oceane-4-you-lip-scrub -1-.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Esfoliante Labial Vegano Óleo de coco Oce'ane</h2>
                  <p class="card-text">15g/p>
                  <p class="card-price">
                     <span class="currency">R$</span> 39,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/12068602.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Creme Hidratante Labial Latte
                  </h2>
                  <p class="card-text"> 10g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 39,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/a0f6b9ee-b15e-47e8-bf71-2e10f70fe5c3-tec5zbxawp.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Smart Lips Care Esfoliante Labial de Cereja</h2>
                  <p class="card-text"> 15g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 89,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Perfumes/farWay.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Far AWay</h2>
                  <p class="card-text"> Original Deo Parfum 50ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 119,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->

            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- Fim da carreira de cards -->

        </section>
    </main>

  <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>