<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/base_boca_rosa.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Boca Rosa By Payout - Base Mate</h2>
                  <p class="card-text"> 30ml </p>
                  <p class="card-price">
                     <span class="currency">R$</span> 61,50
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/mari_maria_corretivo.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Corretivo Mari Maria Cover Up 02</h2>
                  <p class="card-text"> 40ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 49,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/paleta_blush.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Paleta Trio de Blush My Secret - Dalla </h2>
                  <p class="card-text"> 10g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 30,00
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/gel_modelador_sobrancelha.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Gel Modelador De Sobrancelhas Melu By Ruby Rose </h2>
                  <p class="card-text">20g </p>
                  <p class="card-price">
                     <span class="currency">R$</span> 28,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/kit4_rimel.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Kit 4 Rímel à Prova Dágua The Colossal Volume e Curve Febella</h2>
                  <p class="card-text"> 60ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 49,97
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/pincel_blush.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Makeup Brush Blush </h2>
                  <p class="card-text"> BR006 </p>
                  <p class="card-price">
                     <span class="currency">R$</span> 49,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/pincel_base_corretivo.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Pincel para Base e Corretivo</h2>
                  <p class="card-text"> BR002</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 39,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/pincel_contorno.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Pincel para Contorno </h2>
                  <p class="card-text">  BR004</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 44,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/esponja_basse_corretivo.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Esponja Corretivo / Base  </h2>
                  <p class="card-text"> Sabrina Sato</p>
                  <p class="card-price">
                     <span class="currency">R$</span>  11.25
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/esponja_po_solto.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Esponja e Pó Soltoy</h2>
                  <p class="card-text"> Niina Secrets</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 10,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->

           

        </section>
    </main>

  <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>