<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_nutricao/advance_techniquer.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Boca Rosa By Payout - Base Mate</h2>
                  <p class="card-text"> 30ml </p>
                  <p class="card-price">
                     <span class="currency">R$</span> 61,50
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_nutricao/cadiveu.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Corretivo Mari Maria Cover Up 02</h2>
                  <p class="card-text"> 40ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 49,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_nutricao/forca_vitamina.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Paleta Trio de Blush My Secret - Dalla </h2>
                  <p class="card-text"> 10g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 30,00
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_nutricao/kit_haskell_murumuru_para_hidratacao.avif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Gel Modelador De Sobrancelhas Melu By Ruby Rose </h2>
                  <p class="card-text">20g </p>
                  <p class="card-price">
                     <span class="currency">R$</span> 28,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_nutricao/mascara_mega_nutrition.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Kit 4 Rímel à Prova Dágua The Colossal Volume e Curve Febella</h2>
                  <p class="card-text"> 60ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 49,97
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_nutricao/organic_shop.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Makeup Brush Blush </h2>
                  <p class="card-text"> BR006 </p>
                  <p class="card-price">
                     <span class="currency">R$</span> 49,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_nutricao/walory_blondi.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Pincel para Base e Corretivo</h2>
                  <p class="card-text"> BR002</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 39,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_nutricao/eudora_siage.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Pincel para Contorno </h2>
                  <p class="card-text">  BR004</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 44,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_nutricao/cadiveu_vegan_repair.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Esponja Corretivo / Base  </h2>
                  <p class="card-text"> Sabrina Sato</p>
                  <p class="card-price">
                     <span class="currency">R$</span>  11.25
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_nutricao/natura_lumina_shampoo.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Esponja e Pó Soltoy</h2>
                  <p class="card-text"> Niina Secrets</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 10,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->

           

        </section>
    </main>

  <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>