<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/51rM+XJUJPL._UF1000,1000_QL80_.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Mascara para olhos Aloe Vera</h2>
                  <p class="card-text"> 60unt 80g </p>
                  <p class="card-price">
                     <span class="currency">R$</span> 39,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/bio-excellence-c.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Gel Vitamina C BioAge </h2>
                  <p class="card-text">15g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 149,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/7891142205346_0-20230529-193612.png" alt="">
                </header>
                <article>
                  <h2 class="card-title">Blancy Olhos Clareador</h2>
                  <p class="card-text"> 15ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 179,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/71uLphbHakL._AC_UL600_SR600,600_.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Sérum renovador para olhos Centaphill </h2>
                  <p class="card-text"> 48g </p>
                  <p class="card-price">
                     <span class="currency">R$</span> 74,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/258726-150-auto.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Kit 4 Rímel à Prova Dágua The Colossal Volume e Curve Febella</h2>
                  <p class="card-text"> 60ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 49,97
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/258726-150-auto.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title"> Creme para olhos Creamy </h2>
                  <p class="card-text"> 15g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 129,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/16344540.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Ácido Lático Creamy</h2>
                  <p class="card-text">30ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 59,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/image.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Creme para olhos Needs</h2>
                  <p class="card-text"> 25g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 51,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_skin_care/serum-hidratante-para-os-olhos-care-natural--1---1-.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Sérum Hidratante Care </h2>
                  <p class="card-text"> 10ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span>  65.25
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/esponja_po_solto.jfif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Esponja e Pó Soltoy</h2>
                  <p class="card-text"> Niina Secrets</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 10,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->

           

        </section>
    </main>

  <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>