<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_perfumes/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Humor Liberta</h2>
                  <p class="card-text"> 75ml Natura </p>
                  <p class="card-price">
                     <span class="currency">R$</span> 108,40
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_perfume_masculino/aire.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">212 Vip Rose</h2>
                  <p class="card-text"> 80ml Carolina Herrera</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 539,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_perfume_masculino/Arbo_Puro_Boticario.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Body Splash </h2>
                  <p class="card-text"> 250ml Vitoria Secret</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 70,98
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Perfumes/Invictus_paco_rabanne.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title"> Invictus </h2>
                  <p class="card-text">120ml Paco Rabanne Eau De Toilette Masculino</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 389,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_perfumes/paco_rabanne.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">1 Million</h2>
                  <p class="card-text"> 120ml Masculino Eau de Toilette </p>
                  <p class="card-price">
                     <span class="currency">R$</span> 439,63
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_perfumes/uomini.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Uomini</h2>
                  <p class="card-text"> Desodorante Colônia OBoticário 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 194,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Perfumes/insensatez_oboticario.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Insensatez</h2>
                  <p class="card-text"> Desodorante Colônia OBoticário 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 159,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_perfume_masculino/kaiak.jpeg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Kaiak </h2>
                  <p class="card-text"> Kaiak Mascolino 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 111,50
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_perfume_masculino/coffee_man_addictive.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Coffee Man Addictive </h2>
                  <p class="card-text"> colonia 100 ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 109,00
                  </p>
                  <a href="#" class="card-button">Comprar</a>
        </section>
    </main>

  <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>