<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_perfumes/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Humor Liberta</h2>
                  <p class="card-text"> Natura 75ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 108,40
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Perfumes/212_vip_rose.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">212 Vip Rose</h2>
                  <p class="card-text"> 80ml Carolina Herrera</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 539,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_perfumes/bodySplash_VitoriaS" alt="">
                </header>
                <article>
                  <h2 class="card-title">Body Splash Vitoria Secret</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_perfumes/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Perfume Humor</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_perfumes/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Perfume Humor</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="/assets/imagem/imagens_perfumes/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Perfume Humor</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_perfumes/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Perfume Humor</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_perfumes/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Perfume Humor</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_perfumes/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Perfume Humor</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/imagens_perfumes/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Perfume Humor</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->

            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="/assets/imagem/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Perfume Humor</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Perfume Humor</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Perfume Humor</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Perfume Humor</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="/assets/imagem/humor.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Perfume Humor</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->

        </section>
    </main>

  <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>