<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_perfumes_infantil/naturé_mocinhos.webp">
                </header>
                <article>
                  <h2 class="card-title">Naturé Mocinhos</h2>
                  <p class="card-text"> 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 78,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_perfumes_infantil/naturé_mocinhas.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Naturé Mocinhas</h2>
                  <p class="card-text"> 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 79,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_perfumes_infantil/naturé_corre_corre.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Naturé</h2>
                  <p class="card-text"> 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 42,30
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_perfumes_infantil/maChérie_boticario.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Ma Chérie OBoticário</h2>
                  <p class="card-text"> 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 149,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_perfumes_infantil/johnson&johnson.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title"> Colônia Johnson's Baby Lavanda </h2>
                  <p class="card-text"> 200ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 26,50
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_perfumes_infantil/granado_colonia_bebe.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Colônia Granado Tradicional </h2>
                  <p class="card-text"> 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 69,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_perfumes_infantil/boti_nana_neném.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Colônia Infantil Baby Boti Nana Neném</h2>
                  <p class="card-text"> 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 93,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            
            
            <!-- CARD -->
            <section>
              <header>
                <img src="assets/imagem/imagens_perfumes_infantil/50289306-eau-de-toilette-mmbb-100ml-300x300.jpg" alt="">
              </header>
              <article>
                <h2 class="card-title">Colônia Mamãe e Bebê</h2>
                <p class="card-text"> 100ml</p>
                <p class="card-price">
                   <span class="currency">R$</span> 105,90
                </p>
                <a href="#" class="card-button">Comprar</a>
              </article>
          </section>
            
    </main>

  <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>