<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/prime_ruby_rose.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title"> Primer Ruby Rose Freels Mood</h2>
                  <p class="card-text"> 30g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 16,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/prime_koloss.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Primer Koloss</h2>
                  <p class="card-text"> 30g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 35,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/prime_bruna_tavares.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Primer BT Peach Skin </h2>
                  <p class="card-text"> 40g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 69,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

        
            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagem_maquiagem/prime_beyoung.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Primer Beyoung Glow </h2>
                  <p class="card-text"> 30ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 69,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_Cabelos/haskell_se_curve.avif" alt="">
                </header>
                <article>
                  <h2 class="card-title">Haskell Se Curve</h2>
                  <p class="card-text"> 300ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 77,07
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->            
    </main>

    <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>