<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/792160---Protetor-Solar-Facial_LOreal_Paris_Solar_Expertise_Antioleosidade.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Máscara de Tratamento Cavalo Forte Hidra</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 80,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/anasol_fps_50_protetor_solar_facial.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Haskell Pós Progressiva</h2>
                  <p class="card-text"> 620ml + máscara</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 146,85
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/la_roche_posay.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Hidrabell Cabelos Lisos</h2>
                  <p class="card-text"> 620ml + máscara</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 215,67
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/protetor_solar_nivea_sun_facial_toque_seco.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Forever Liss Bye Bye Volume</h2>
                  <p class="card-text"> 200ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 52,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/Skinceuticals_Protetor_Solar_Facial_Blemish_Age_Uv_Defense_40g.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Shampoo Meu Liso Muito+Liso</h2>
                  <p class="card-text"> 300ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 24,50
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/protetor_solar_corporal_cenoura_bronze.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Siàge Revela Os Cachos</h2>
                  <p class="card-text"> 100ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 44,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/nivea_sun_protect_&_bronze.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Haskell Se Curve</h2>
                  <p class="card-text"> 300ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 77,07
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/mantecorp_skincare.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Kit Widi Care Juba</h2>
                  <p class="card-text"> 500ml + mácara</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 156,66
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/protetor_solar_corporal_em_spray.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Gelatina Verde super Definição</h2>
                  <p class="card-text"> 550g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 24,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/la_roche_posay.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Inor Meu Cacho Meu Crush</h2>
                  <p class="card-text"> 5000ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 60,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->
        </section>
    </main>

    <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>