<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/792160---Protetor-Solar-Facial_LOreal_Paris_Solar_Expertise_Antioleosidade.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Protetor Solar Facil L'Oreal</h2>
                  <p class="card-text"> 40g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 64,93
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/anasol_fps_50_protetor_solar_facial.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Protetor Solar Facial Anasol Toque Seco</h2>
                  <p class="card-text"> 60g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 32,00
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/la_roche_posay.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">La Rocha Posay</h2>
                  <p class="card-text"> 40g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 65,95
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/protetor_solar_nivea_sun_facial_toque_seco.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Nivea Sun Facial Toque Seco</h2>
                  <p class="card-text"> 40ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 34,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/Skinceuticals_Protetor_Solar_Facial_Blemish_Age_Uv_Defense_40g.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Protetor Solar Skinceuticals</h2>
                  <p class="card-text"> 40g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 159,00
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->


            <!-- Outra carreira de cards -->
        </section>
        <section class="card-container">
            <!-- CARD -->
            <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/protetor_solar_corporal_cenoura_bronze.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Protetor Solar Corporal Cenoura & Broze</h2>
                  <p class="card-text"> 110ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 33,14
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/nivea_sun_protect_&_bronze.jpg" alt="">
                </header>
                <article>
                  <h2 class="card-title">Nivea Sun Protect & Bronze</h2>
                  <p class="card-text"> 125ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 43,19
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/mantecorp_skincare.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Mantecorp Skincare</h2>
                  <p class="card-text"> 200ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 99,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/protetor_solar_corporal_em_spray.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">Protetor Solar Corporal Em Spray</h2>
                  <p class="card-text"> 120ml</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 69,99
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->

             <!-- CARD -->
             <section>
                <header>
                  <img src="assets/imagem/imagens_protetor_solar/la_roche_posay.webp" alt="">
                </header>
                <article>
                  <h2 class="card-title">La Ooche Posay</h2>
                  <p class="card-text"> 40g</p>
                  <p class="card-price">
                     <span class="currency">R$</span> 89,90
                  </p>
                  <a href="#" class="card-button">Comprar</a>
                </article>
            </section>
            <!-- FIM CARD -->
            <!-- Fim da carreira de cards -->
        </section>
    </main>

    <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>