<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD -->
<%- include('./include/head.ejs') %>
<link rel="stylesheet" href="/assets/css/vertudo.css">

<body data-page="vertudo">
  <!-- HEADER -->
 <%- include('./include/header.ejs') %> 

  <main>


    <!-- CARROSSEL PERFUMES -->
    <section class="category-section">
      <h2 class="category-title">Perfumes</h2>
      <div class="card-container">
        <section>
          <header>
            <img src="assets/imagem/imagens_Perfumes/uomini.webp" alt="">
          </header>
          <article>
            <h2 class="card-title">Uomini</h2>
            <p class="card-text">Colônia Masculina 100ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 120,37
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagens_perfumes/bodySplash_VitoriaS.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Kit Victoria's Secret</h2>
            <p class="card-text">Kit Body Splash + Creme Hidratante 236ml+250ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 130,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagens_Perfumes/212_vip_rose.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">212 VIP Rosé</h2>
            <p class="card-text">Carolina Herrera Eau de Parfum 80ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 285,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagens_Perfumes/paco_rabanne.webp" alt="">
          </header>
          <article>
            <h2 class="card-title">Invictus</h2>
            <p class="card-text">Paco Rabanne Eau de Toilette 100ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 320,50
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>
      </div>
    </section>

    <!-- CARROSSEL CABELO -->
    <section class="category-section">
      <h2 class="category-title">Cabelo</h2>
      <div class="card-container">
        <section>
          <header>
            <img src="assets/imagem/imagens_cabelos/eudora.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Eudora</h2>
            <p class="card-text">Kit Siàge Cica Therapy</p>
            <p class="card-price">
              <span class="currency">R$</span> 163,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagens_Cabelos/Shampoo _Hidra _Hialurônico _400ml.webp" alt="">
          </header>
          <article>
            <h2 class="card-title">L'Oréal Elsève</h2>
            <p class="card-text">Shampoo Hidra Hialurônico 400ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 18,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagens_Cabelos/Condicionado_Detox_Capilar_400ml.webp" alt="">
          </header>
          <article>
            <h2 class="card-title">TRESemmé</h2>
            <p class="card-text">Condicionador Detox Capilar 400ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 22,50
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagens_Cabelos/Máscara_Definição_de_Cachos_300g.webp" alt="">
          </header>
          <article>
            <h2 class="card-title">Seda Boom</h2>
            <p class="card-text">Máscara Definição de Cachos 300g</p>
            <p class="card-price">
              <span class="currency">R$</span> 15,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>
      </div>
    </section>

    <!-- CARROSSEL CORPO E BANHO -->
    <section class="category-section">
      <h2 class="category-title">Corpo e Banho</h2>
      <div class="card-container">
        <section>
          <header>
            <img src="assets/imagem/imagens_cuidados_pessoais/cremeCorporal.webp" alt="">
          </header>
          <article>
            <h2 class="card-title">Hidratante Desodorante Corporal</h2>
            <p class="card-text">Hidratante de 400ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 54,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagens_cuidados_pessoais/granado2.jfif" alt="">
          </header>
          <article>
            <h2 class="card-title">Granado</h2>
            <p class="card-text">Esfoliante Corporal 200g</p>
            <p class="card-price">
              <span class="currency">R$</span> 75,99
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagens_cuidados_pessoais/oleopaixao.webp" alt="">
          </header>
          <article>
            <h2 class="card-title">Óleo Corporal Paixão</h2>
            <p class="card-text">Rosas Brancas 100ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 12,00
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagens_Cabelos/Sabonete_Líquido_Dove.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Dove Original</h2>
            <p class="card-text">Sabonete Líquido 250ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 8,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>
      </div>
    </section>

    <!-- CARROSSEL SKIN CARE -->
    <section class="category-section">
      <h2 class="category-title">Skin Care</h2>
      <div class="card-container">
        <section>
          <header>
            <img src="assets/imagem/imagens_cuidados_pessoais/cremeDermo.jfif" alt="">
          </header>
          <article>
            <h2 class="card-title">Hidratante Facial Hydro Boost</h2>
            <p class="card-text">Neutrogena Gel, 50g</p>
            <p class="card-price">
              <span class="currency">R$</span> 80,93
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagens_cuidados_pessoais/sabonte.jfif" alt="">
          </header>
          <article>
            <h2 class="card-title">Actine</h2>
            <p class="card-text">Gel de Limpeza Facial 400g</p>
            <p class="card-price">
              <span class="currency">R$</span> 32,99
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagens_Cuidados_Pessoais/agua_termal_vichy_150ml.webp" alt="">
          </header>
          <article>
            <h2 class="card-title">Vichy</h2>
            <p class="card-text">Água Termal 150ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 45,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagens_Cuidados_Pessoais/Hidratante_Facial_Noturno_CeraVe.webp" alt="">
          </header>
          <article>
            <h2 class="card-title">CeraVe PM</h2>
            <p class="card-text">Hidratante Facial Noturno 52ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 89,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>
      </div>
    </section>

    <!-- CARROSSEL MAQUIAGEM -->
    <section class="category-section">
      <h2 class="category-title">Maquiagem</h2>
      <div class="card-container">
        <section>
          <header>
            <img src="assets/imagem/imagem_maquiagem/base_liquida_ruby_rose.png" alt="">
          </header>
          <article>
            <h2 class="card-title">Ruby Rose</h2>
            <p class="card-text">Base Líquida Bege 4 - 29ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 19,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagem_maquiagem/maybelline_black_mascara.avif" alt="">
          </header>
          <article>
            <h2 class="card-title">Maybelline</h2>
            <p class="card-text">Rímel Colossal Preto 9,5ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 24,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagem_maquiagem/Batom_Líquido_ruby_rose.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Ruby Rose</h2>
            <p class="card-text">Batom Líquido Matte 280 - 3,2ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 12,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="assets/imagem/imagem_maquiagem/Paleta_Sombras_vult.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Vult</h2>
            <p class="card-text">Paleta de Sombras</p>
            <p class="card-price">
              <span class="currency">R$</span> 35,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>
      </div>
    </section>
  </main>

  <!-- FOOTER -->
  <%- include('./include/footer.ejs') %> 

</body>

</html>