<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD -->
<%- include('./include/head.ejs') %>
<link rel="stylesheet" href="/assets/css/vertudo.css">

<body data-page="vertudo">
  <!-- HEADER -->
 <%- include('./include/header.ejs') %> 

  <main>


    <!-- CARROSSEL PERFUMES -->
    <section class="category-section">
      <h2 class="category-title">Perfumes</h2>
      <div class="card-container">
        <section>
          <header>
            <img src="/assets/imagem/uomini.webp" alt="">
          </header>
          <article>
            <h2 class="card-title">Uomini</h2>
            <p class="card-text">Colônia Masculina 100ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 120,37
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="/assets/imagem/bodySplash_VitoriaS.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Kit Victoria's Secret</h2>
            <p class="card-text">Kit Body Splash + Creme Hidratante 236ml+250ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 130,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="https://images.tcdn.com.br/img/img_prod/697730/perfume_feminino_212_vip_rose_carolina_herrera_eau_de_parfum_80ml_1581_1_20201028150311.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">212 VIP Rosé</h2>
            <p class="card-text">Carolina Herrera Eau de Parfum 80ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 285,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="https://epocacosmeticos.vteximg.com.br/arquivos/ids/456863/perfume-masculino-invictus-paco-rabanne-eau-de-toilette-100ml.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Invictus</h2>
            <p class="card-text">Paco Rabanne Eau de Toilette 100ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 320,50
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>
      </div>
    </section>

    <!-- CARROSSEL CABELO -->
    <section class="category-section">
      <h2 class="category-title">Cabelo</h2>
      <div class="card-container">
        <section>
          <header>
            <img src="/assets/imagem/eudora.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Eudora</h2>
            <p class="card-text">Kit Siàge Cica Therapy</p>
            <p class="card-price">
              <span class="currency">R$</span> 163,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco/v1/imagens/products/B57516/b57516_elseve_shampoo_hidra_hialuronico_400ml_1_637877516779154000.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">L'Oréal Elsève</h2>
            <p class="card-text">Shampoo Hidra Hialurônico 400ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 18,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco/v1/imagens/products/B25108/b25108_tresemme_condicionador_detox_capilar_400ml_1_636363478644876250.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">TRESemmé</h2>
            <p class="card-text">Condicionador Detox Capilar 400ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 22,50
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco/v1/imagens/products/B71429/b71429_seda_mascara_de_tratamento_boom_definicao_de_cachos_300g_1_638058346154876250.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Seda Boom</h2>
            <p class="card-text">Máscara Definição de Cachos 300g</p>
            <p class="card-price">
              <span class="currency">R$</span> 15,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>
      </div>
    </section>

    <!-- CARROSSEL CORPO E BANHO -->
    <section class="category-section">
      <h2 class="category-title">Corpo e Banho</h2>
      <div class="card-container">
        <section>
          <header>
            <img src="/assets/imagem/cremeCorporal.webp" alt="">
          </header>
          <article>
            <h2 class="card-title">Hidratante Desodorante Corporal</h2>
            <p class="card-text">Hidratante de 400ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 54,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="/assets/imagem/granado2.jfif" alt="">
          </header>
          <article>
            <h2 class="card-title">Granado</h2>
            <p class="card-text">Esfoliante Corporal 200g</p>
            <p class="card-price">
              <span class="currency">R$</span> 75,99
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="/assets/imagem/oleopaixao.webp" alt="">
          </header>
          <article>
            <h2 class="card-title">Óleo Corporal Paixão</h2>
            <p class="card-text">Rosas Brancas 100ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 12,00
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco/v1/imagens/products/B25108/b25108_dove_sabonete_liquido_original_250ml_1_636363478644876250.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Dove Original</h2>
            <p class="card-text">Sabonete Líquido 250ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 8,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>
      </div>
    </section>

    <!-- CARROSSEL SKIN CARE -->
    <section class="category-section">
      <h2 class="category-title">Skin Care</h2>
      <div class="card-container">
        <section>
          <header>
            <img src="/assets/imagem/cremeDermo.jfif" alt="">
          </header>
          <article>
            <h2 class="card-title">Hidratante Facial Hydro Boost</h2>
            <p class="card-text">Neutrogena Gel, 50g</p>
            <p class="card-price">
              <span class="currency">R$</span> 80,93
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="/assets/imagem/sabonte.jfif" alt="">
          </header>
          <article>
            <h2 class="card-title">Actine</h2>
            <p class="card-text">Gel de Limpeza Facial 400g</p>
            <p class="card-price">
              <span class="currency">R$</span> 32,99
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco/v1/imagens/products/B57516/b57516_vichy_agua_termal_150ml_1_637877516779154000.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Vichy</h2>
            <p class="card-text">Água Termal 150ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 45,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="https://res.cloudinary.com.br/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco/v1/imagens/products/B25108/b25108_cerave_hidratante_facial_pm_52ml_1_636363478644876250.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">CeraVe PM</h2>
            <p class="card-text">Hidratante Facial Noturno 52ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 89,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>
      </div>
    </section>

    <!-- CARROSSEL MAQUIAGEM -->
    <section class="category-section">
      <h2 class="category-title">Maquiagem</h2>
      <div class="card-container">
        <section>
          <header>
            <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco/v1/imagens/products/B57516/b57516_ruby_rose_base_liquida_bege_4_29ml_1_637877516779154000.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Ruby Rose</h2>
            <p class="card-text">Base Líquida Bege 4 - 29ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 19,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco/v1/imagens/products/B25108/b25108_maybelline_rimel_colossal_preto_9_5ml_1_636363478644876250.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Maybelline</h2>
            <p class="card-text">Rímel Colossal Preto 9,5ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 24,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco/v1/imagens/products/B71429/b71429_ruby_rose_batom_liquido_matte_cor_280_3_2ml_1_638058346154876250.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Ruby Rose</h2>
            <p class="card-text">Batom Líquido Matte 280 - 3,2ml</p>
            <p class="card-price">
              <span class="currency">R$</span> 12,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>

        <section>
          <header>
            <img src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco/v1/imagens/products/B57516/b57516_vult_paleta_de_sombras_cor_01_1_637877516779154000.jpg" alt="">
          </header>
          <article>
            <h2 class="card-title">Vult</h2>
            <p class="card-text">Paleta de Sombras 01</p>
            <p class="card-price">
              <span class="currency">R$</span> 35,90
            </p>
            <a href="#" class="card-button">Comprar</a>
          </article>
        </section>
      </div>
    </section>
  </main>

  <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>




</body>

</html>