<aside class="sidebar-conta">

    <div class="sidebar-conta__perfil">
        <div class="sidebar-conta__avatar">
            <i class="ti ti-user"></i>
        </div>
        <span class="sidebar-conta__ola">
            Olá, <strong>
                <%= usuario.nome %>
            </strong>
        </span>
    </div>

    <nav class="sidebar-conta__nav">
        <a href="/conta" class="sidebar-conta__item ativo">
            <i class="ti ti-user-circle"></i>
            Dados pessoais
            <i class="ti ti-chevron-right sidebar-conta__arrow"></i>
        </a>
        <a href="/endereco" class="sidebar-conta__item">
            <i class="ti ti-map-pin"></i>
            Endereços
            <i class="ti ti-chevron-right sidebar-conta__arrow"></i>
        </a>
        <a href="/" class="sidebar-conta__item">
            <i class="ti ti-map-pin"></i>
            Sair
            <i class="ti ti-chevron-right sidebar-conta__arrow"></i>
        </a>
        

    </nav>


</aside>