<!-- MENU LATERAL -->
<nav class="menu">

    <div class="logo_admin">
        <img src="assets/imagem/imagem_Logo/Logo4.png" alt="">
    </div>

    <ul>
        <li>
            <i class="fa-solid fa-chart-line"></i> 
            <a href="/dashboard">Dashboard</a>
        </li>
        <li>
            <i class="fa-solid fa-bag-shopping"></i>
            <a href="/produtos">Produtos</a>
        </li>
        <li>
            <i class="fa-solid fa-table-list"></i>
            <a href="/pedidos">Pedidos</a>
        </li>
        <li>
            <i class="fa-regular fa-user"></i>
            <a href="/clientes">Clientes</a>
        </li>
        <li>
            <i class="fa-solid fa-panorama"></i>
            <a href="/banners">Banners</a>
        </li>
        <li>
            <i class="fa-solid fa-tag"></i>
            <a href="/cadastroProduto">Novo Produto</a>
        </li>
        <li>
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <a href="/">Sair</a>
        </li>
    </ul>

</nav>